<div class="wsite-section-content">
	<div class="header">
		<h2>Boise Built Fitness</h2>
		<div class="paragraph">Your Instructor: Andrew Peterson</div>
	</div>
</div>

<div class="content-wrap">
	<div class="wsite-content">
		Something goes in here
	</div>
</div>



