//Breakpoints for screen sizes
$bp-mobile: 400px;
$bp-portrait: 768px;
$bp-landscape: 1200px;
$bp-desktop: 1248px;

//Colors
$color-boise-red: #90230a;
body{margin: -32px 0}
h1 {
	color: #90230a;
	font-size: 48px;
	padding-top: 75px;
	text-align: center;
	font-weight: 600;
}
h3 {
	text-align: center;
	padding-top: 15px;
}
h2 {
  padding: 0 0 5px;
  color: #3b5998;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  text-decoration: underline;
}
a {
  color: #22a7f0;
  text-decoration: none;
}
a:hover {
  color: #333;
}
img {
  border: none;
}
label {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}